{% extends 'base.html.twig' %}

{% block title %}Hello HolmesPlaceController!{% endblock %}

{% block body %}
   
     <div class="main">    
    <h1> {{ controller_name }}! ✅</h1>
    <h3> Todays Date: {{ current_date }} </h3>  
   Fuel Statistics:
    <ul>
        <li>Total Distance:</li>
        <li>Fuel Used:</li>
        <li>Economy:</li>
    </ul>
   
   <br>
   Crypto-Currencies:
 
   <ul>
      
     <li>Bitcoin: {{  crypto_prices[0].btc_price }} </li> 
     <li>Etherium: {{  crypto_prices[0].eth_price }}</li> 
        
   
   </ul>

  

   <table border="1" padding="2">
       <tr><th>Date</th><th>Start Odo</th><th>End Odo</th><th>Description</th><th>Business</th><th>Distance</th></tr>
  {% for trip in trip_entries %}
          <tr>
              <td> {{ trip.date.format('Y-m-d') }} </td>
              <td> {{ trip.startOdo }} </td>
              <td> {{ trip.endOdo }} </td>
              <td> {{ trip.description }} </td>
              {% if trip.tripType == true %}
              <td> Business </td>
              {% elseif trip.tripType == false %}
                  <td> Private </td>
               {% endif %}
              <td> {{ trip.endOdo - trip.StartOdo }} </td>
          </tr>    
  {% endfor %}
  <table>
  <table border="1" padding="2">
      <tr><th>Date</th><th>Odometer</th><th>Liters</th><th>Amount</th><th>Location</th><th>Full Tank</th></tr>
  {% for fuelentry in fuel_entries %}
          <tr>
              <td> {{ fuelentry.date.format('Y-m-d') }} </td>
              <td> {{ fuelentry.odometer }} </td>
              <td> {{ fuelentry.liters }} </td>
              <td> {{ fuelentry.amount }} </td>
              <td> {{ fuelentry.location }} </td>
              <td> {{ fuelentry.tankfull }} </td>
           </tr>    
  {% endfor %}
  
  
  
  </table>
  </div>
{% endblock %}
