{% extends 'base.html.twig' %}

{% block title %} Current Crypto Prices {% endblock %}

{% block body %}
     <div class="main">   
    
        
        
    
    <h1> Date of Transcation {% if dte is defined %} {{ dte }} {% endif %}</h1>
    <table border="2">
        <tr><th>Timestamp</th><th>Pair</th><th>Ask</th><th>Bid</th><th>Last Trade</th><th>Volume</th>
            </tr>   
    {% for tick in data %} 
     
        <tr>
            <td>{{ tick.timestamp }}</td>    
            <td> {{ tick.pair }} </td>
            <td> {{ tick.ask }}  </td>
            <td> {{ tick.bid }} </td>
            <td> {{ tick.lasttrade }} </td>
            <td> {{ tick.rolling24hourvolume }} </td>
        </tr>
     
    {% endfor %}
     </table>
    
                        
  </div>
{% endblock %}
